# Environment Configuration
VITE_ENVIRONMENT=production

# API Configuration  
VITE_API_URL=https://vep645bkmqblgemzy72psyrsju0mjgma.lambda-url.us-east-1.on.aws

# Sentry Configuration
VITE_SENTRY_DSN=https://858ee4f954b4a7b4b117fecef96afc81@o4509555260981248.ingest.us.sentry.io/4509555263733760
VITE_SENTRY_ORG=your-sentry-org
VITE_SENTRY_PROJECT=your-sentry-project
SENTRY_AUTH_TOKEN=your-sentry-auth-token
VITE_BUILD_TIMESTAMP=1703462400000